modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "cloudrun"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/design-mto: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/design-mto"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/design-mto run dev"
cwd = "./artifacts/design-mto"
waitForPort = 21511
router = "path"

[workflows.workflow.tasks.env]
PORT = "21511"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "tesyt"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "deployment"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "run"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 21511
externalPort = 3000

[[ports]]
localPort = 21512
externalPort = 3001

[objectStorage]
defaultBucketID = "replit-objstore-ce6cba0a-24c1-43b0-badb-740b6e668e9b"

[userenv]

[userenv.production]

[userenv.shared]
ssh-ed25519 = "AAAAC3NzaC1lZDI1NTE5AAAAIJ2Er+pSdG8ioMBYMtJsIz0Bfk0IZjXy2fLSFVb/etK1"
